extends ../layout/main

block variables
	- var title = 'Главная страница'
	- var pageClass = 'index-page'

block content
	.about 
		.container 
			.about__heading 
				h3 About me 
			.about__text 
				p Hi, I'm Denis – UX/UI designer from Minsk. #[br] I'm interested in design and everything connected with it.	
				p I&apos;m studying at courses &quot;Web and mobile design #[br] | interfaces&quot; in IT-Academy.
				p Ready to implement excellent projects #[br] with wonderful people.
		button(class="message")= 'Принять выбор'